body {
    background-color: rgb(36, 36, 36);
}
header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(66, 66, 66);
    align-items: center;
    width:100%;
    height: 80px;
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        text-size-adjust: 3.5em;
        .img-nav{
            width: 32%;
            margin-bottom: 19px;
        }
            ul{
                height: 100%;

                @include flex(row,space-between,center);
            li{
                @include flex(row,space-between,center);
                color:$primary;
                margin:20px
                
            }
        }

    }
}