@mixin container{
    width: 100%;
    height: 100px;
}
@mixin flex($direction,$justify,$align){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}